<div class="user-list-container">
  <div class="header-user-list">
    <h2>List of users</h2>
    <button [routerLink]="['/favorites']" class="header-button">favorites</button>
  </div>


  @if(loading) {
  <div class="loading-message">
    Loading users...
  </div>
  } @else if (users.length === 0) {
  <div class="no-data-message">
    No users found.
  </div>
  } @else {
  <ul class="user-cards">
    @for(user of users; track user.id) {
    <li class="user-card" [routerLink]="['/users', user.id, 'posts']">
      <h3>{{ user.name }}</h3>
      <p>Username: {{ user.username }}</p>
    </li>
    } @empty {
    <div class="no-data-message">
      There are no available users.
    </div>
    }
  </ul>
  }
</div>