<div class="user-list-container">
  <div class="header">
    <button [routerLink]="['/favorites']" class="favorites-button">Избранное</button>
    <h2>Список пользователей</h2>
  </div>


  @if(loading) {
  <div class="loading-message">
    Загрузка пользователей...
  </div>
  } @else if (users.length === 0) {
  <div class="no-data-message">
    Пользователи не найдены.
  </div>
  } @else {
  <ul class="user-cards">
    @for(user of users; track user.id) {
    <li class="user-card" [routerLink]="['/users', user.id, 'posts']">
      <h3>{{ user.name }}</h3>
      <p>Имя пользователя: {{ user.username }}</p>
      <!-- <p>Email: {{ user.email }}</p> -->
    </li>
    } @empty {
    <div class="no-data-message">
      Нет доступных пользователей.
    </div>
    }
  </ul>
  }
</div>