<div class="favorites-list-container">
    <div class="header">
        <button (click)="goBack()" class="header-button"><i class="fas fa-arrow-left"></i></button>
        <h2>Favorites posts</h2>
    </div>

    @if(loading) {
    <div class="loading-message">
        Loading favorites posts...
    </div>
    } @else if (error) {
    <div class="error-message">
        {{ error }}
    </div>
    } @else if (favoritePosts.length === 0) {
    <div class="no-data-message">
        You don't have any favorite posts yet.
    </div>
    } @else {
    <div class="posts-grid">
        @for(post of favoritePosts; track post.id) {
        <app-post-card [post]="post"></app-post-card>
        } @empty {
        <div class="no-data-message">
            There are no favorites posts available.
        </div>
        }
    </div>
    }
</div>